<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Getting Stared: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		
	</head>
	<body>
		<h1>Lista de Cursos</h1>
		<table>
			
			<th:block th:each="p: ${lstSubject}">
				<tr>
					<td th:text="${p.idSubject}"></td>
					<td th:text="${p.code}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.level}"></td>
					<td th:text="${p.teacher}"></td>
				</tr>
			</th:block>
		</table>
		
	</body>
</html>